.reviews {
	position: relative;
}
.reviews__container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.reviews__button {
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin-right: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 340px;
	height: 60px;
	background-color: transparent;
	border-radius: 18px;
	border: 1.4px solid goldenrod;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: "Inter", Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 18px;
	color: goldenrod;
	outline: none;
}
.reviews__button:hover {
	cursor: pointer;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.reviews__button span {
	color: white;
	margin-left: 5px;
}
.review {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow-x: scroll;
	margin-bottom: 50px;
	margin-top: 50px;
	overflow-y: hidden;
}
.developer-info__review {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 20px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	max-width: 310px;
	min-width: 220px;
	border-radius: 32px 18px 18px 31px;
	border: 1.4px solid goldenrod;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

}
.developer-info__review {
	-webkit-transform: translate(0, -400px);
	        -ms-transform: translate(0, -400px);
	    transform: translate(0, -400px);
}
.developer-info__review.active {
	-webkit-transform: translate(0, 0);
	        -ms-transform: translate(0, 0);
	    transform: translate(0, 0);
	-webkit-transition-duration: 2s;
	        -o-transition-duration: 2s;
	   transition-duration: 2s;
}
.developer-info__review:nth-child(2n) {
	-webkit-transform: translate(0, 400px);
	        -ms-transform: translate(0, 400px);
	    transform: translate(0, 400px);
}
.developer-info__review:nth-child(2n).active {
	-webkit-animation: review 2s forwards;
	        animation: review 2s forwards;

}
@-webkit-keyframes review {
	0% {
		-webkit-transform: translate(0, 400px);
		        transform: translate(0, 400px);
	}
	2% {
		-webkit-transform: opacity(1);
		        transform: opacity(1);
	}
	100% {
		-webkit-transform: translate(0,0) scale(1);
		        transform: translate(0,0) scale(1);
	}
}
@keyframes review {
	0% {
		-webkit-transform: translate(0, 400px);
		        transform: translate(0, 400px);
	}
	2% {
		-webkit-transform: opacity(1);
		        transform: opacity(1);
	}
	100% {
		-webkit-transform: translate(0,0) scale(1);
		        transform: translate(0,0) scale(1);
	}
}
.review__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.review__names {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-left: 10px;
}
.review__link {
	font-family: "Inter", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	letter-spacing:1px;
	font-size: 12px;
	line-height: 15px;
	color: goldenrod;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	margin-bottom: 10px;
}
.review__name {
	font-family: "Inter", Arial, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	margin: 0;
	margin-bottom: 10px;
	color: #D3D3D4;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	max-width: 150px;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.review__text {	
	white-space: normal;
	font-family: "Inter", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	margin: 0;
	margin-top: 10px;
	font-size: 16px;
	line-height: 18px;
	color: rgba(240, 240, 240, 1);
	max-width: 260px;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.review__data {
	font-family: "Inter", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	color: #D3D3D4;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	position: absolute;
	bottom: 10px;
	left: 20px;
	margin: 0;

}
.review__bottom {
	margin-bottom: -10px;
}

.no-active {
	visibility: hidden;
}