.works-up {
	background: -webkit-radial-gradient(at 20%, #111, #000);
	background: radial-gradient(at 20%, #111, #000);
}
.cell {
	margin-left: 20px;
	padding-bottom: 70px;
	margin-right: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.contacts__subtitle {
	font-family: "Inter", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	line-height: 52px;
	text-align: left;
	color: goldenrod;
}
.contacts__subtitle span {
	color: goldenrod;
}
.form__names  {
	margin-top: 40px;
	padding-left: 20px;
	margin-bottom: 15px;
	font-family: Rubik;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	color: rgba(240, 240, 240, 0.8)
}
.contact__forms {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 360px;
}
.contact__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-transform: rotate(20deg) translate(0, -400px) scale(0);
	        transform: rotate(20deg) translate(0, -400px) scale(0);
}
.contact__form.active {
	-webkit-animation: form 2s forwards;
	        animation: form 2s forwards;
}
@-webkit-keyframes form {

	10% {
		-webkit-transform: scale(0.4) translate(0, -380px);
		        transform: scale(0.4) translate(0, -380px);
	}

	100% {
		-webkit-transform:rotate(0) scale(1) translate(0, 0px);
		        transform:rotate(0) scale(1) translate(0, 0px);
	}

}
@keyframes form {

	10% {
		-webkit-transform: scale(0.4) translate(0, -380px);
		        transform: scale(0.4) translate(0, -380px);
	}

	100% {
		-webkit-transform:rotate(0) scale(1) translate(0, 0px);
		        transform:rotate(0) scale(1) translate(0, 0px);
	}

}
.form__name {
	background: inherit;
	border-radius: 18px;
	padding-left: 25px;
	height: 60px;
	border:2px solid goldenrod;
	color: rgba(240, 240, 240, 1);
	font-family: "Inter", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
}
.form__contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.contact__form-text {
	margin-left: 65px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	-webkit-transform: rotate(20deg) translate(-500px, 0) scale(0);
	        transform: rotate(20deg) translate(-500px, 0) scale(0);
}
.contact__form-text.active {
	-webkit-animation: formContact 2s 1s forwards;
	        animation: formContact 2s 1s forwards;
}
@-webkit-keyframes formContact {
	0% {
		-webkit-transform: scale(0.2) translate(500px, 0);
		        transform: scale(0.2) translate(500px, 0);
	}

	100% {
		-webkit-transform: scale(1) translate(0,0);
		        transform: scale(1) translate(0,0);
	}

}
@keyframes formContact {
	0% {
		-webkit-transform: scale(0.2) translate(500px, 0);
		        transform: scale(0.2) translate(500px, 0);
	}

	100% {
		-webkit-transform: scale(1) translate(0,0);
		        transform: scale(1) translate(0,0);
	}

}
.form__text {
	width: 360px;
	height: 320px;
	padding-left: 25px;
	padding-top: 25px;
	font-family: "Inter", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	resize: none;

}
.form__logo {
	outline: none;
	background: goldenrod;
	border-radius: 50%;
	position: absolute;
	background-image: url(../../image/form/form-click.svg);
	background-position: center;
	width: 48px;
	height: 48px;
	right: 25px;
	bottom: 25px;
	background-repeat: no-repeat;
}
.contact__image {
	position: absolute;
	width: 1280px;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
	-webkit-transition-delay: 3600s;
	transition-delay: 3600s;
}


.cell__links {
	position: relative;
	margin-top: 100px;
	padding-left: 80px;
	padding-right: 80px;
	box-sizing: border-box;
	overflow: hidden;
}
.cell__links-image {
	width: 200px;
	height: 350px;
	margin-top: 100px;
	-webkit-transform: scale(0);
	        transform: scale(0);
}

.cell__links-image.active {
	-webkit-transform: scale(1);
	        transform: scale(1);
	-webkit-transition-duration: 1s;
	        transition-duration: 1s;
}

.cell__link {
	position: relative;
	width: 100px;

}
.image__link {
	width: 50px;
	height: 50px;
}
.cell__link-list {
	position: absolute;
	cursor: pointer;
	top: 100px;
	width: 50px;
	height: 50px;
}

.cell__link-list:nth-child(1) {
	background-image: url(../../image/cell-links/git.svg);
}	
.cell__link-list:nth-child(2) {
	background-image: url(../../image/cell-links/telegram.svg);
}	
.cell__link-list:nth-child(3) {
	background-image: url(../../image/cell-links/vk.svg);
}	
.cell__link-list:nth-child(4) {
	background-image: url(../../image/cell-links/watsaap.svg);
}	

.cell__link-list:nth-child(1):hover {
	
	background-image: url(../../image/cell-links/git-hover.svg);
}	
.cell__link-list:nth-child(2):hover {
	background-image: url(../../image/cell-links/telegram-hover.svg);
}	
.cell__link-list:nth-child(3):hover {
	
	background-image: url(../../image/cell-links/vk-hover.svg);
}	
.cell__link-list:nth-child(4):hover {
	background-image: url(../../image/cell-links/watsaap-hovery.svg);
}	

.cell__link-list:nth-child(1).active {
	left: -70px;
	top: 90px;
}
.cell__link-list:nth-child(2).active {
	left: 0;
	top: 0;
}
.cell__link-list:nth-child(3).active {
	right: -100px;
	top: 0;
}
.cell__link-list:nth-child(4).active {
	right: -170px;
	top: 90px;
}
.cell__link-list{
	-webkit-transform: scale(1) translate(600px, 250px);
	        transform: scale(1) translate(600px, 250px);
}
.cell__link-list:nth-child(1).active {
	-webkit-animation: scale 1s 0.3s forwards;
	        animation: scale 1s 0.3s forwards;
}
.cell__link-list:nth-child(2).active {
	-webkit-animation: scale 1s 0.6s forwards;
	        animation: scale 1s 0.6s forwards;
}
.cell__link-list:nth-child(3).active {
	-webkit-animation: scale 1s .9s forwards;
	        animation: scale 1s .9s forwards;
}
.cell__link-list:nth-child(4).active {
	-webkit-animation: scale 1s 1.2s forwards;
	        animation: scale 1s 1.2s forwards;
}

@-webkit-keyframes scale {
	
	
	1% {
		-webkit-transform: scale(0) translate(0,0);
		        transform: scale(0) translate(0,0);
	}
	100% {
		-webkit-transform: scale(1) translate(0,0);
		        transform: scale(1) translate(0,0);
	}
}

@keyframes scale {
	
	
	1% {
		-webkit-transform: scale(0) translate(0,0);
		        transform: scale(0) translate(0,0);
	}
	100% {
		-webkit-transform: scale(1) translate(0,0);
		        transform: scale(1) translate(0,0);
	}
}





